# Bootstrap
app/bootstrap*

# Symfony directories

*/logs/*
*/cache/*
app/cache/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Composer
composer.phar


/public_html/log.log

app/logs/dev.log
