<div id="tree-detail">
	<table width="100%">
		<thead>
			<tr>
				<th width="2%"></th>
				<th>Товарная позиция</th>
				<th>Цена за еденицу</th>
			</tr>
		</thead>
		<tbody>
			{% for item in items %}
	            <tr data-json = "{{ item.data }}">
	            	<td style="text-align: center">
	            		<input type="checkbox" {% if(item.check==1) %}checked {% endif %} />
	            	</td>
	                <td width="50%">{{ item.name }}</td>
	                <td  width="15%">{{ item.price }} {{ item.currency }}</td>                
	            </tr>
	        {% endfor %}
		</tbody>
	</table>
</div>